.profile {
  border: 3px solid #000;
  border-radius: 10px;

  width: 300px;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
}
.description {
  padding-top: 20px;
}
.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  background-color: rgb(194, 194, 194);
}

.avatar {
  background-color: black;
}
.name {
  font-weight: bold;
}
.tag,
.location {
  margin: 10px 0px;
  color: gray;
}

.label {
  font-weight: bold;
}

.quantity {
  display: block;
  margin-top: 10px;
}
.stat {
  width: calc(100% / 3);
  border: 1px solid gray;
  list-style: none;
  padding: 20px;
}
